// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid
$total-columns  : 12;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 1em;

$show-grid-backgrounds  : true;

// ---------------------------------------------------------------------------
// BreakPoints


// ---------------------------------------------------------------------------
// Typography
$font-title:'Coda', cursive;
$font-header:'Forum', Georgia, serif;
$font-main: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif;
$font-size-main: 16px;


// ---------------------------------------------------------------------------
// Color
$text-color: #444;
$text-index: #888;
$accent-main:#1E628D;
$accent-second:#DD8B24;

$links-main: (lighten($accent-main,10%), $accent-second, lighten($accent-second, 10%), lighten($accent-main, 20%));
