@import "susy";
@import "base";
@import "compass/typography/links/link-colors";


/*--- Layout Styles --*/
#wrap {
    @include container;
    /*@include susy-grid-background;*/

    #title {@include span-columns(11,12); padding: 0 .5em;margin-left:1em;}
    #primary-nav {@include span-columns(4 omega,12); padding: 1em 0 0;}
    #upper-nav {@include span-columns(10 omega,12);}
    #main{clear:both;padding-bottom:1em;}
    #research{@include span-columns(4,12);text-align:center;}
    #digital{@include span-columns(4,12);text-align:center;}
    #teaching{@include span-columns(4 omega,12);text-align:center;}
    #copyright{@include span-columns(10,12);}
    #main {@include span-columns(8,12);}
    aside {@include span-columns(3 omega,12);}
    #social{@include span-columns(2 omega,12);padding:1em 0;}
    footer{padding:1em 0;}
}

/*--- Base Styles --*/
body {
    font-family:$font-main;
    font-size:$font-size-main;
    color:$text-color;
    margin:0;
}
#index {    
    background: url(../images/BC_1868_blue.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    color:$text-index;
    a {@include link-colors(lighten($accent-second,10%), lighten($accent-main,10%), lighten($accent-main, 20%), lighten($accent-second, 10%));}  
}

/*--- Header Styles --*/
#image {
    overflow:auto;
    background:url(../images/BC_1868_blue_narrow.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:1.5em;
    a {@include link-colors(lighten($accent-second,10%), lighten($accent-main,10%), lighten($accent-main, 20%), lighten($accent-second, 10%));}  
}
#title h1 {
    font-family: $font-title;
    font-size:6em;
    font-weight: 300;
    margin:0;
    a {
        text-decoration: none;
    }
}
#{headings()} {
    font-family: $font-header;
}
h1 {
    font-size:($font-size-main)*2.5;
}
h2 {
    clear:both;
    padding:.5em 0;
    font-size:($font-size-main)*2;
}
h3 {
    font-family:$font-main;
    font-size: ($font-size-main)*1.5;
}
aside h3 {
    padding:.5em 0;
    font-family:$font-header;
}

/*--- Link Styles --*/
a{
    @include link-colors(lighten($accent-main,10%), $accent-second, lighten($accent-second, 10%), lighten($accent-main, 20%));
    text-decoration: none;
    &:hover{text-decoration:underline;}
}

/*--- Navigation Styles --*/
.nav{
    font-family: $font-header;
    overflow:auto;
    ul{
        margin:0;
        padding:0;
        list-style-type: none;
        li{
            width:auto;
            float:left;
            padding-left:1em;
        }
        a{
            text-decoration: none;
            &:hover {
                text-decoration:underline;
            }
        }
    }
}
#primary-nav {
    font-size: 1.25em;
}
#secondary-nav {
    font-size: 1.5em;
    .callout {
        @include span-columns (4,12);
        margin-right:0;
        .header {
            font-family: $font-header;
            font-size:1.25em;
            text-align: center;
            width: 100%;
            padding:.5em 0;
        }   
        p {
            font-family:$font-main;
            font-size:$font-size-main;
            padding: .5em 1.5em;
        }
    }
}
#upper-nav {
    clear:both;
    float:left;
    padding:0 0 1em 4em;
    .important {
        font-family:$font-header;
        font-size:1.25em;
        padding:0 3em 0 0;
    }
}
#social {
    font-size: 1.5em;
    ul li {
        padding-left:.75em;
    }
}
/*--- Main Styles --*/
#full {
    clear:both;
}
#blurb {
    font-weight: 300;
    padding:.5em 5em;
}
.entry {
    clear:both;
    padding:.5em 0;
    overflow:auto;
}
.portfolio {
    border:1px solid #666;
    float:left;
    width:45%;
}
.title {
    float:left;
    width:45%;
    padding: 2em 1em 0 1em;
    font-size: 1.25em;
    p{
        margin-top:0;
        font-size: $font-size-main;
    }
}
.tagline {
    font-size:.9em;
}
/*--- Blog Styles --*/
#main {
    h1 {
        margin-bottom: .5em;
        font-variant: small-caps;
    }
    h2 {
        padding-bottom:0;
    }
    ul {
        list-style-type: none;
        padding-left:0;
        li {
            padding:.5em 0;
        }
    }
    .text {
        padding-top:.5em;
    }
    .display-list{
        list-style-type:square;
        margin-left:2em;
        li{
            padding:.25em;
        }
    }
}
aside {
    h2 {
        padding:0;
    }
    h3 {
        padding:0;
    }
    ul{
        list-style-type: none;
        padding:0;
        li {
            padding-bottom:.5em;
        }
    }
}

/*--- Footer Styles --*/
footer {
    clear:both;
}

