---
Template: default
---
<h2>Digital</h2>

<p>Long blurb about digital history - pull from prospectus.</p>

<h2>See Posts on Digital History</h2>
<ul>
  <% blog.tags["digital"].each do |article| %>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>
    </li>
  <% end %>
</ul>

