<%= partial "head" %>  
  <body id="index">
    <div id="wrap">
      <header>
        <%= partial "header" %>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= partial "footer" %>
      </footer>
    </div>
  </body>
</html>
