<%= partial "head" %>  
  <body id="index">
    <div id="wrap">
      <header>
        <%= partial "header" %>
      </header>
      <div id="full" role="main">
        <%= yield %>
      </div>
      <footer>
        <%= partial "footer" %>
      </footer>
    </div>
  </body>
</html>
