<div id="copyright">
  <p>CC-BY Jeri Wieringa, 2014
  <br/>Image circa 1868, from the <a href="http://photo.egwwritings.org/index.php?q=aHR0cDovL25hcy5lZ3d3cml0aW5ncy5vcmcvZ2FsbGVyaWVzL0luc3RpdHV0aW9ucy8xMTkuanBnLnBocA%3D%3D">Ellen White Estate Archives</a>.</p>
</div>
<div id="social" class="nav">
  <ul>
    <li><a href="http://twitter.com/jeriwieringa"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/jerielizabeth"><i class="fa fa-github"></i></a></li>
    <li><a href="./blog/feed.xml"><i class="fa fa-rss"></i></a></li>
  </ul>
</div>