<nav id="primary-nav" class="nav">
  <ul>
    <li><%= link_to 'Blog', '/blog/' %></li>
    <li><%= link_to 'Portfolio', '/portfolio.html' %></li>
    <li><%= link_to 'About', '/about.html' %></li>
    <li><a href="https://www.dropbox.com/s/53q3875xnpqynax/Wieringa_CV.pdf">Vita</a></li>
  </ul>
</nav>
<div id="title">
  <h1><a href="/">Jeri E. Wieringa</a></h1>
</div>

