---
template: default
---
<h2>About Me</h2>

<p>I am a PhD Candidate in history at George Mason University, studying digital history and nineteenth-century American religious history. I am interested in the interplay between religious systems, their surrounding cultures, and structures of power, with a particular eye to gender. My research is focused on Seventh-day Adventism and on the implications of digital technologies for the practice and production of history.</p>

<p>I have my MAR in the History of Christianity from Yale Divinity School, and my BA in English and Philosophy from Calvin College.</p>
