---
template: default
---
<h1>Jeri E. Wieringa</h1>
<section>
	<h2>Education</h2>
	<p><strong>PhD</strong>, History</p>
	<p><em>George Mason University</em></p>
	<p>Committee: Sharon M. Leon (chair), Michael O'Malley, John G. Turner, Frederick W. Gibbs</p>
	<p>Dissertation: "A Gospel of Health and Salvation: A Digital Study of Seventh-day Adventism as a Developing Cultural System, 1843-1920" (<a href="https://dl.dropboxusercontent.com/u/11042846/Wieringa_Prospectus.pdf">Prospectus</a>)</p>
	<p>Fields: U.S. History (major); History and New Media (minor); Religious History (minor)</p>
	<hr />
	<p><strong>MAR</strong>, History of Christianity</p>
	<p><em>Yale Divinity School</em>, 2011.</p>
	<p>Master's Project: "The Banner, 1964: A Digitization Project"</p>
	<hr />
	<p><strong>BA</strong>, Philosophy; English</p>
	<p><em>Calvin College</em>, 2008.</p>
</section>
<section>
	<h2>Research Positions</h2>
	<p>Graduate Research Assistant (Front-End Developer and QA Assistant), Omeka | 2013-Present.</p>
	<p>Graduate Research Assistant (Project Manager and Developer), Toynbee Prize Foundation Website | Spring 2014.</p>
	<p>Research Assistant for Dr. Peter Stearns | 2012</p>
	<p>Associate Editor, <em>Journal of Digital Humanities</em> | 2012-2013.</p>
	<p>Editor, <em>Digital Humanities Now</em> | 2011-2013.</p>
	<p>Graduate Research Assistant, PressForward Project | 2011-2013.</p>
</section>
<section>
	<h2>Publications</h2>
	<p>"Introduction to Beautiful Soup," <em>The Programming Historian</em> | December 2012.</p>
</section>
<section>
	<h2>Invited Talks</h2>
	<p>"Microsteps to Advance the Digital Humanities" with Jarom McDonald, Scott Weigart, &amp; Roopika Risam, Canadian Society of Digital Humanities/Société canadienne des humanités numériques Annual Meeting | May 2014.</p>
</section>
<section>
	<h2>Conferences Presentations</h2>
	<p>Participant and co-Organizer, THATCamp AAR, Baltimore, MD | November 2013.</p>
	<p>"De-MOOCing the Past: Alternative Approaches to Online History Courses." THATCamp Prime | June 2013.</p>
	<p>"Rails Girls in Academia" Lightning Talk. HASTAC Conference, Toronto, Canada | April 2013.</p>
	<p>"Mining Hymns." Women's History in a Digital World Conference at Bryn Mawr College | March 2013.</p>
	<p>"Introduction to RSS Aggregation and Curation", THATCamp Prime | June 2012.</p>
</section>
<section>
	<h2>Grants and Fellowships</h2>
	<p>ACH Travel Bursary for Digital Humanities Summer Institute | 2014.</p>
	<p>Digital Humanities Summer Institute Tuition Scholarship, University of Victoria | 2014.</p>
	<p>Presidential Scholarship Summer Assistantship, George Mason University | 2014.</p>
	<p>Dissertation Completion Travel Grant, George Mason University | 2014.</p>
	<p>Louise and Rudolf Fishel New Media Fellowship | 2012.</p>
	<p>Presidential Scholarship, George Mason University | 2011-2014.</p>
	<p>Tuition Scholarship, Yale Divinity School | 2009-2011.</p>
</section>
<section>
	<h2>Awards</h2>
	<p>C.W. Bright Pixel Prize for the Best History and New Media Project for “Mining Hymns.” | 2013.</p>
</section>
<section>
	<h2>Professional Development and Workshops</h2>
	<p>Organizer, Digital History Working Group at George Mason University | 2014-present. </p>
	<p>Participant, "Data Mining for Digital Humanists," Digital Humanities Summer Institute | June 2014.</p>
	<p>Organizer, Rails Girls DH in Fairfax, VA | September 2013.</p>
	<p>HASTAC Scholar | 2012-2013.</p>
	<p>Participant, Rails Girls DC in Washington, D.C. | September 2012.</p>
</section>
<section>
	<h2>Design Work</h2>
	<p>Theme for <a href="http://toynbeeprize.org">Toynbee Prize Foundation Website</a> | 2014.</p>
	<p><a href="https://github.com/omeka/theme-minimalist">Minimalist Theme Updates for Omeka</a> | 2014.</p>
	<p>Theme for <a href="http://pressforward.org">PressForward website</a> | 2013.</p>
	<p>Website Design for <a href="http://anglicanhistory.org/">Project Canterbury</a> | 2013.</p>
</section>
<section>
	<h2>Teaching Experience</h2>
	<p>Co-Instructor, "Introduction to Web Design &amp; Development" at <em>Humanities Intensive Learning and Teaching</em>, University of Maryland | August 2014.</p>
	<p>Guest lecture on Text Mining for HIST 390, George Mason University | Fall 2013.</p>
</section>
<section>
	<h2>Professional Skills</h2>
	<p>HTML, CSS, JavaScript (introductory), Python (basic), Ruby (introductory), R (introductory), Git, Photoshop</p>
</section>
<section>
	<h2>Teaching Areas</h2>
	<p>American Religious History</p>
	<p>American History</p>
	<p>Digital History</p>
</section>
