---
template: default
---
<h3 id="blurb">PhD Candidate in History at George Mason University. My dissertation is using digital methods to investigate and engage the intersection of health reform, Seventh-day Adventism, and gender in the 19th century.</h3>

<div id="secondary-nav" class="nav">
    <ul>
      <div class="callout">
        <li class="header"><%= link_to 'Research', '/research.html' %></li>
          <p>As a historian of American Religion, I focus on millennialism and reform movements, with particular attention to gender and social systems.</p>
      </div>
      <div class="callout">
        <li class="header"><%= link_to 'Digital', '/digital.html' %></li>
          <p>As a digital historian, I use computational methods while considering the ways digital technology challenges and changes how we approach and communicate about the past.</p>
      </div>
      <div class="callout">
        <li class="header"><%= link_to 'Teaching', '/teaching.html' %></li>
          <p>From workshops to standard courses, I focus on teaching technical skills and computational thinking within the context of humanities research.</p>
        </div>
    </ul>
</div>