---
template: default
---
<p id="blurb">I am a PhD Candidate in History at George Mason University. My dissertation is using digital methods to investigate and engage the intersection of health reform, Seventh-day Adventism, and gender in the 19th century.</p>

<div id="secondary-nav" class="nav">
  <div class="callout">
    <h2><%= link_to 'Religious History', '/research.html' %></h2>
      <p>As a historian of American religion, I focus on millennialism and reform movements, with particular attention to gender.</p>
  </div>
  <div class="callout">
    <h2><%= link_to 'Digital History', '/digital.html' %></h2>
      <p>As a digital historian, I use computational methods while considering the ways digital technology challenges and changes how we study and communicate about the past.</p>
  </div>
  <div class="callout">
    <h2><%= link_to 'Teaching', '/teaching.html' %></h2>
      <p>From workshops to standard courses, I focus on teaching technical skills and computational thinking within the context of humanities scholarship.</p>
  </div>
</div>