---
Template: default
---
<h1>Design work</h1>
    <div class="entry">
        <img class="portfolio" src="./assets/images/PressForward.jpg" width="200px"/>
        <h4 class="title"><a href="http://pressforward.org/">Theme Customization for Pressforward.org</a></h4>
    </div>
 <!--   <div class="entry">
        <h4 class="title"><a href="">Minimalist Theme Update for Omeka 2.0</a></h4>
    </div>-->
    <div class="entry"> 
        <img class="portfolio" src="./assets/images/ProjectCanterbury.jpg" width="200px"/>
        <h4 class="title"><a href="http://anglicanhistory.org/">Theme design for Project Canterbury</a></h4>
    </div>
<h2>Coursework</h2>
    <div class="entry">
        <img class="portfolio" src="./assets/images/MiningHymns.jpg" width="200px"/>
        <div class="title"> 
            <h4><a href="http://jeriwieringa.com/dev/">Mining Hymns</a></h4>
            <p>Winner of George Mason's Bright Pixel Prize.</p>
        </div>
    </div>
    <div class="entry">
        <img class="portfolio" src="./assets/images/WebDesign.jpg" width="200px"/>
        <div class="title"> 
            <h4><a href="http://jeriwieringa.com/portfolio/">Design Portfolio</a></h4>
        </div>
    </div>
