---
Template: default
---
<h1>Teaching</h1>
    <p>
        In thinking about pedagogy, the two central intellectual problems that I am focusing on are related to my two major areas of focus. The first, related to the study of religion within the context of history, is how to help others understand, empathize with, and analyze a world of beliefs and assumptions radically different from their own. This involves both critical thinking in identifying the systems of thought at play as well as critical distance in analyzing those systems separate from ones own ideological commitments.
    </p> 
    <p>
        The second, related to the study of digital history, is how to teach and deploy computational thinking within a humanities context, when the impulses of these modes of inquiry can often be at cross purposes. Rather than the acquisition of skills for using digital technology, I approach digital history as a way to conceptualize problems and model understandings, a way that requires technical skill but is not reducible to those skills.
    </p>

<h2>Recent Teaching Posts</h2>
<ul>
  <% blog.tags["teaching"][0...5].each do |article| %>
    <li>
      <a href="<%= article.url %>"><%= article.title %></a>, <span><%= article.date.strftime('%b %e') %></span>
    </li>
  <% end %>
</ul>

